<%= render 'shared/navbar'%>
<main class="main-container account-form-container">
  <div class="form-custom ">
    <h3 class="title-custom">Edit task</h3>
    <%= render "form", task: @task %>
    <br>
    <div>
      <%= link_to "Show this task", @task %> |
    </div>
  </div>
</main>
