<%= render 'shared/navbar'%>
<main class="main-container account-form-container">
  <div class="form-custom">
    <h3 class="title-custom">New task</h3>
    <%= render "form", task: @task %>
  </div>
</main>
