<% if flash[:notice] %>
  <h6 class="alert alert-info show mt-4 alert-custom" role="alert">
    <%= flash[:notice] %>
  </h6>
<% end %>
<% if flash[:alert] %>
  <h6 class="alert alert-warning show mt-4 alert-custom" role="alert">
    <%= flash[:alert] %>
  </h6>
<% end %>
