<% if notice.present? %>
  <div class="absolute bottom-0 right-0 p-4 mb-4 mr-4 bg-green-100 border-t-4 border-green-500 dark:bg-green-200" role="alert">
    <p class="text-sm font-medium text-green-700">
      <%= notice %>
    </p>
  </div>
<% end %>
<% if alert.present? %>
  <div class="absolute bottom-0 right-0 p-4 mb-4 mr-4 bg-red-100 border-t-4 border-red-500 dark:bg-red-200" role="alert">
    <p class="text-sm font-medium text-red-700">
      <%= alert %>
    </p>
  </div>
<% end %>
