<div class="w-1/2 h-screen">
  <img class="object-cover w-full h-screen hidden md:block" src="https://images.unsplash.com/photo-1534040385115-33dcb3acba5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80">
  <div class="w-1/2 absolute inset-0 bg-gray-900 bg-opacity-75 z-10 flex items-center justify-center flex-col gap-4">
    <h1 class="text-6xl text-slate-100 tracking-wider font-black">Journey</h1>
    <h1 class="text-3xl text-slate-100 tracking-wider">Your adventure starts today</h1>
  </div>
</div>
