<main class="main-container">
  <%= render partial: 'shared/navbar'%>
  <div class="home-container">
    <div class="greetings-container">
      <h5 class="greetings-title"> Hello <%= current_user.email %>,</h5>
      <h3 class="greetings-subtitle">Here is your task for today</h2>
    </div>
  </div>
</main>
