<main class="main-landing">
  <div class="landing-container">
    <h1 class="title-heading">Journey</h1>
    <h2 class="subtitle-heading">Your daily personal journal app</h2>
    <%= link_to 'Get Started', new_user_session_path, class: "button-custom mt-4" %>
  </div>
</main>
