<%= render 'shared/navbar'%>
<main class="main-container account-form-container">
  <div class="form-custom">
    <h3 class="title-custom">Edit category</h1>
    <%= render "form", category: @category %>
    <br>
    <div>
      <%= link_to "Show this category", @category %>
    </div>
  </div>
</main>
