<div class="w-full p-4 bg-gray-100">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Categories</h1>
    <%= link_to 'New category', new_category_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="categories" class="min-w-full mt-4 grid grid-cols-4 gap-4">
    <%= render @categories %>
  </div>
</div>
