<%= render 'shared/navbar'%>
<main class="main-container account-form-container">
  <div class="form-custom">
    <h3 class="title-custom">New category</h3>
    <%= render "form", category: @category %>
  </div>
</main>
